.bg-bg {
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
strong,
span,
p {
  color: var(--text-color) !important;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 82, 204, 0.15) !important;
}
